body {
  font-family: 'Montserrat', serif;
  text-align: center;
  background-color: #fffcf6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* HEADER */
header.menu {
  width: 100%;
}

/* MAIN */
main {
  width: 100%;
  overflow-x: hidden;
}

/* SECTIONS */
section {
  width: 100%;
}

/* IMAGENS RESPONSIVAS */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
